
  h1 {
    font-size: 60px;
    text-align: center;
  }

  html {
    text-align: center;
    background-color:lightyellow;
  }

  body {
    background-color:skyblue;
    width: 460px;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
    border: 5px solid black;
  }

  ul {
    align-content: center;
    text-align: left;
  }

  form {
    text-align:end;
    margin-right: 20%;
  }

  .emptyNotification {
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .message {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .errorNotification {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }



